html{
    margin: 0;
    height: 100%;
}

body{
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-around;
}

.menu{
    display:flex;
    flex-direction: row;
}

.menu__item{
    flex-grow: 1;
    align-content: space-around;
    margin: 0.2rem ;    
    padding: 0.2rem;
    border-radius: 5px;
    background-color: lightgray;
}

.main{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.main__content{
    margin: 0.2rem ;    
    padding: 0.2rem;
    border-radius: 5px;
    background-color: lightgray;
    flex-grow: 1;
}

.main__complement{
    display: flex;
    flex-grow: 1;
}

.main__sub-content{
    margin: 0.2rem ;    
    padding: 0.2rem;
    border-radius: 5px;
    background-color: lightgray;
    flex-shrink:0 ;
}

.main__sub-complement{
    margin: 0.2rem ;    
    padding: 0.2rem;
    border-radius: 5px;
    background-color: lightgray;
    flex-shrink: 1;
}